<div class="card">
    <h5 class="card-header">Register Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" minlength="3" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />


                    <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
                        <div *ngIf="f['firstName'].errors?.['minlength']">
                            First Name should be more then 3 characters
                        </div>
                    </div>

                </div>
                <div class="form-group col-6">
                    <label>last Name</label>
                    <input type="text" formControlName="lastName" minlength="3" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                    <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                        <div *ngIf="f['lastName'].errors?.['minlength']">should be more then 3 characters</div>
                    </div>

                </div>
            </div>

            <div class="form-group col-12">
                <label>Email</label>
                <input type="email" formControlName="email" required email="true" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                </div>

            </div>

            <div class="row form-row">
                <div class="form-group col-6">
                    <label>Password</label>
                    <input type="password" formControlName="password" minlength="6" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                        <div *ngIf="f['password'].errors?.['minlength']">should be more then 6 characters</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">Password is required</div>
                        <div *ngIf="f['confirmPassword'].errors['confirmedValidator']">Password and confirm not match</div>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <label>Téléphone</label>
                <input type="number" formControlName="tel" minlength="8" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f['tel'].errors }" />
                <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">
                    <div *ngIf="f['tel'].errors['required']">telephone is required</div>
                    <div *ngIf="f['tel'].errors?.['minlength']">should be more then 6 numbers</div>
                </div>
            </div>
            <div class="form-group col-12">
                <label>Adress</label>
                <input type="text" formControlName="adress" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f['adress'].errors }" />
                <div *ngIf="submitted && f['adress'].errors" class="invalid-feedback">
                    <div *ngIf="f['adress'].errors">adress is required</div>
                </div>
            </div>
            <div class="text-center mt-3 d-flex">
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary mr-2">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>

        </form>
    </div>
</div>